In [20]:
import pyodbc

server = 'localhost'
database = 'LeagueManageSystem'
username = 'SA'
password = 'Abdu420?'

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + server + ';DATABASE=' + database + ';UID=' + username + ';PWD=' + password)
cursor = conn.cursor()
cursor.execute("SELECT * FROM player")
for row in cursor:
    print(row)
conn.close()

('Benzema', 'Karim Benzema', 34, 'France', 'RM3', Decimal('4000000.00'), 25)
('CR7', 'Cristiano Ronaldo', 37, 'Portugal', 'MU1', Decimal('5000000.00'), 20)
('Haaland', 'Erling Haaland', 21, 'Norway', 'MC2', Decimal('5000000.00'), 30)
('KDB', 'Kevin De Bruyne', 31, 'Belgium', 'MC2', Decimal('4500000.00'), 25)
('LM10', 'Lionel Messi', 35, 'Argentina', 'AR2', Decimal('4000000.00'), 30)
('Mane', 'Sadio Mane', 30, 'Senegal', 'MC2', Decimal('4000000.00'), 20)
('MBappe', 'Kylian Mbappe', 23, 'France', 'PSG1', Decimal('4500000.00'), 25)
('Modric', 'Luka Modric', 37, 'Croatia', 'RM3', Decimal('3500000.00'), 15)
('NJR', 'Neymar', 30, 'Brazil', 'CH3', Decimal('3000000.00'), 25)
('P001', 'John Doe', 25, 'USA', 'RM3', Decimal('100000.00'), 10)
('Salah', 'Mohamed Salah', 29, 'Egypt', 'MC2', Decimal('4000000.00'), 20)

In [19]:
import pyodbc

def insert_data_into_table(server, database, table, columns, values):
    try:
        # Establish a connection to the SQL Server database
        server = 'localhost'
        database = 'LeagueManageSystem'
        username = 'SA'
        password = 'Abdu420?'

        conn = pyodbc.connect(
        'DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + server + ';DATABASE=' + database + ';UID=' + username + ';PWD=' + password)

        # Create a cursor object to interact with the database
        cursor = conn.cursor()

        # Create a parameterized query for the insert statement
        query = "INSERT INTO {} ({}) VALUES ({})".format(table, ','.join(columns), ','.join(['?' for _ in values]))

        # Execute the query with the provided values as parameters
        cursor.execute(query, values)

        # Commit the transaction to save the changes
        conn.commit()

        print("Data inserted successfully.")
        
    except pyodbc.Error as e:
        # Handle any errors that occurred during the insertion process
        print("Error occurred:", e)

    finally:
        # Close the cursor and connection
        cursor.close()
        conn.close()

# Function to insert data into the Player table
def insert_data_into_player_table(server, database, player_data):
    # Extract the column names and values from the player_data dictionary
    columns = list(player_data.keys())
    values = list(player_data.values())
    
    # Call the insert_data_into_table function with the appropriate arguments
    insert_data_into_table(server, database, 'Player', columns, values)


# Example usage
server = 'localhost'
database = 'mydatabase'

# Data to be inserted into the Player table
player_data = {
    'PlayerID': 'P001',
    'PlayerName': 'John Doe',
    'PlayerAge': 25,
    'Nationality': 'USA',
    'ClubID': 'RM3',
    'PlayerSalary': 100000.00,
    'GoalsScored': 10
}

# Call the function to insert the data into the Player table
insert_data_into_player_table(server, database, player_data)

Error occurred: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'player_id_pk'. Cannot insert duplicate key in object 'dbo.Player'. The duplicate key value is (P001). (2627) (SQLExecDirectW)")