In [16]:
import pyodbc

server = 'localhost'
database = 'LeagueManageSystem'
username = 'SA'
password = 'Abdu420?'

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + server + ';DATABASE=' + database + ';UID=' + username + ';PWD=' + password)
cursor = conn.cursor()
cursor.execute("SELECT * FROM player")
for row in cursor:
    print(row)
conn.close()

('Benzema', 'Karim Benzema', 34, 'France', 'RM3', Decimal('4000000.00'), 25)
('CR7', 'Cristiano Ronaldo', 37, 'Portugal', 'MU1', Decimal('5000000.00'), 20)
('Haaland', 'Erling Haaland', 21, 'Norway', 'MC2', Decimal('5000000.00'), 30)
('KDB', 'Kevin De Bruyne', 31, 'Belgium', 'MC2', Decimal('4500000.00'), 25)
('LM10', 'Lionel Messi', 35, 'Argentina', 'AR2', Decimal('4000000.00'), 30)
('Mane', 'Sadio Mane', 30, 'Senegal', 'MC2', Decimal('4000000.00'), 20)
('MBappe', 'Kylian Mbappe', 23, 'France', 'PSG1', Decimal('4500000.00'), 25)
('Modric', 'Luka Modric', 37, 'Croatia', 'RM3', Decimal('3500000.00'), 15)
('NJR', 'Neymar', 30, 'Brazil', 'CH3', Decimal('3000000.00'), 25)
('Salah', 'Mohamed Salah', 29, 'Egypt', 'MC2', Decimal('4000000.00'), 20)

In [8]:
import pyodbc

def insert_data_into_table(table, values):
    try:

        conn = pyodbc.connect(
        'DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + 'localhost' + ';DATABASE=' + 'LeagueManageSystem' + ';UID=' + 'SA' + ';PWD=' + 'Abdu420?')

        # Create a cursor object to interact with the database
        cursor = conn.cursor()

        
        # Create a parameterized query for the insert statement
        placeholder = ','.join(['?' for _ in values])
        query = f"INSERT INTO {table} VALUES ({placeholder})"

        # Execute the query with the provided values as parameters
        cursor.execute(query, values)

        # Commit the transaction to save the changes
        conn.commit()

        print("Data inserted successfully.")
        
    except pyodbc.Error as e:
        # Handle any errors that occurred during the insertion process
        print("Error occurred:", e)

    finally:
        # Close the cursor and connection
        cursor.close()
        conn.close()

player_data = ['P002','John Doe', 25,'USA','RM3',100000.00, 10]


insert_data_into_table('player',player_data)

Data inserted successfully.

In [15]:

def delete_data_from_table(table, column,data):
    try:

        conn = pyodbc.connect(
        'DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + 'localhost' + ';DATABASE=' + 'LeagueManageSystem' + ';UID=' + 'SA' + ';PWD=' + 'Abdu420?')

        # Create a cursor object to interact with the database
        cursor = conn.cursor()

        
        query = f"DELETE FROM {table} WHERE ({column} = {data})"

        # Execute the query with the provided values as parameters
        cursor.execute(query)

        # Commit the transaction to save the changes
        conn.commit()

        print("Data deleted successfully.")
        
    except pyodbc.Error as e:
        # Handle any errors that occurred during the insertion process
        print("Error occurred:", e)

    finally:
        # Close the cursor and connection
        cursor.close()
        conn.close()
table_name = input("table name: ")
column = input("column: ")
data = input(f"where {column} = ")

delete_data_from_table(table_name,column,f"'{data}'")

Data deleted successfully.